<!doctype html>

<html ng-app="tower">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styling.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="tower.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <title>Getallen torens</title>
</head>

<body class="background" ng-controller="TowerController as ctrl">
<h2>Getallentorens voor Ruben en Thomas</h2>
    <div class="container">
        <label for="base">Hoeveel vakjes?</label>
        <input id="base" type="number" ng-model="ctrl.base" ng-change="ctrl.refresh()">
        <label for="max">Hoogste getal</label>
        <input id="max" type="number" ng-model="ctrl.max" ng-change="ctrl.refresh()">
        <input type="submit" ng-click="ctrl.check()" value="Controleer">
        <br>
        <br>
        <div class="tower" ng-repeat="row in ctrl.attempt track by $index">
            <span ng-repeat="cell in row track by $index">
                <input type="number" ng-model="ctrl.attempt[$parent.$index][$index]"
                        ng-class="{wrong: ctrl.result.cells[$parent.$index][$index] !== undefined && !ctrl.result.cells[$parent.$index][$index]}">
            </span>

        </div>

        <h2 ng-if="ctrl.result.overall">
            Goed zo!
            <input type="submit" ng-click="ctrl.refresh()" value="Nog een keer">
            <img src="http://edgecats.net">
        </h2>
    </div>
</body>
</html>